.inputContainer {
  display: flex;
  width: 20rem;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  color: rgb(75, 86, 107);
}

.input {
  display: flex;
  height: 2.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 0 0.8rem;
  outline: none;
}

.border {
  border: 1px solid rgb(227, 54, 78);
}

.error {
  padding: 0px;
  margin: 0px;
  margin-bottom: 0.5rem;
  color: rgb(233, 69, 96);
}
